#contact
{
    width: 100%;
    height: 100%;
    background: #58BC82;
    text-align: center;
}
#ContactTitle
{
    color:white;
    font-size: 100px;
    opacity: 0.9;
    margin-top: 6rem;
}
#buttoncontact
{
    text-align: center;
    border: 3px solid white;
    font-size: 18pt;
    padding: 6px;
    color:white;
    display: inline-block;
    transition: 0.5s;
    margin: 5rem 0rem 0rem 1rem
}
#buttoncontact:hover
{
    cursor: pointer;
    background: white;
    color: #58BC82;
    border: 2px solid #58BC82;
    transition: 0.5s;
}