#title
{
    color:white;
    font-size: 100px;
    opacity: 0.9;
    margin-top: 10rem;
}
#home
{
    width: 100%;
    height: 100%;
    background: #DB5461;
    text-align: center;
}
#buttonhome
{
    text-align: center;
    border: 3px solid white;
    font-size: 18pt;
    padding: 6px;
    color:white;
    display: inline-block;
    transition: 0.5s;
    margin: 5rem 0rem 0rem 1rem
}
#buttonhome:hover
{
    cursor: pointer;
    background: white;
    color: #DB5461;
    border: 2px solid #DB5461;
    transition: 0.5s;
}